h1, div, p, ul {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 15px;
}
h1, h2 {
    font-weight: bold;
}

h1 {
    margin-bottom: 20px;
}

p {
    text-indent: 27px;
}

a {
    color: black;
    font-weight: bold;
}

.title {
    margin-top: 40px;
}

.qlinks {
    margin-bottom: 5px !important;
}

h1.title {
    font-size: 3em;
}

h2.title {
    font-size: 1.7em;
}

h3.title {
    font-size: 1.2em;
}

.aligned {
    display: flex;
}


.title > .bold {
    margin-right: 12px;
}

.body {
    padding-left: 5%;
    width: 95%;

    margin-bottom: 20%;

    line-height: normal;
    font-size: 1.2em;
}

#goBackCtn {
    position: absolute;
    top: 25px;
    left: 25px;
}

.body {
    font-family: "Sometype Mono";
    margin-top: 60px;
}

@media only screen and (min-width: 1200px) {
    .body {
        padding-left: 20%;
        width: 80%;
    }
}



.qlinksCtn {
    position: relative;
    bottom: 15px;

    display: flex;

    width: calc(80% + 10px);
    margin: 0 auto;
}

.qlink {
    margin: 0 10px;
}
