h1, div, p {
    font-family: "Sometype Mono";
    text-align: justify;
    text-justify: inter-word;

    margin-bottom: 15px;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    margin-bottom: 20px;
}

p {
    text-indent: 27px;
    font-size: 1.2em;
}

a {
    color: black;
    font-weight: bold;
}

.title {
    margin-top: 40px;
}

h1.title {
    font-size: 3em;
}

h2.title {
    font-size: 1.7em;
}

.aligned {
    display: flex;
}


.title > .bold {
    margin-right: 12px;
}

.body {
    padding-left: 5%;
    width: 95%;

    margin-bottom: 20%;

    line-height: normal;
}

#goBackCtn {
    position: absolute;
    top: 25px;
    left: 25px;
}

.body {
    margin-top: 60px;
}

@media only screen and (min-width: 1200px) {
    .body {
        padding-left: 20%;
        width: 80%;
    }
}
